.container{
    position: relative;
    background-color:antiquewhite;
    border-radius: 10px;
    padding: 10px;
}
.wrapper_scrollable{
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 615px;
    overflow: hidden;
}
.cover_art_container{
    display: flex;
    gap: 5px;    
}
.button_prev{
    position: absolute;
    top: 75px;
    left: -30px;
}
.button_next{
    position: absolute;
    top: 75px;
    right: -30px;
}
.left_mask{
    position: absolute;
    background-color: antiquewhite;
    border-radius: 0 5px 5px 0;
    height: 150px;
    width: 230px;
    top: 10px;
    left: 10px;
    mask-image: linear-gradient(to right,antiquewhite, transparent);
}
.right_mask{
    position: absolute;
    background-color: antiquewhite;
    border-radius: 5px 0 0 5px;
    height: 150px;
    width: 225px;
    top: 10px;
    right: 10px;
    mask-image: linear-gradient(to left,antiquewhite, transparent);
}