.wrapper_scrollable{
    overflow-y: scroll;
    width: 615px;
}
.cover_art_container{
    display: flex;
    gap: 5px;    
}
.container{
    background-color:antiquewhite;
    border-radius: 10px;
    padding: 10px;
}